* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
 body{
    background-color: aqua;
 }
 .wrapper-inputs{
    background-color: blue;
    display: flex;
    justify-content: center ;
 }
 .wrapper-users{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;


 }